<!doctype html>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
<!--  Mentor page header-->
  <div class="header">
    <a href="#default" class="logo">Mentreon</a>
    <div class="header-right">
      <form class="searchBox" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>

<!--  Middle section -->
  <div class="middleSection">

<!--    Mentor info section-->
    <div>

        <img id="avatarImage"  src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="mentorAvatar">

<!--      Mentors info-->
      <div class="mentorInfo">
        <h2>
          MENTOR NAME
        </h2>

        <h4>
          University: <span class='notbold'>MENTOR UNIVERSITY</span>
        </h4>

        <h4>
          Subject('s): <span class='notbold'>MENTOR SUBJECT</span>
        </h4>

        <p>
          ABOUT\PERSONAL INFO
        </p>

      </div>

    </div>

<!--    Mentor posts-->
    <div class="mentorPosts">
      <h1 style="text-align:center">Posts</h1>

      <div class="post">
        <h1 class="postHeadline">Create a Back-End App with Javascript</h1>
        <p class="postText">
          The earliest suggestion of unusual disappearances in the Bermuda area appeared in a September 17, 1950,
          article published in The Miami Herald (Associated Press) by Edward Van Winkle Jones. Two years later,
          Fate magazine published "Sea Mystery at Our Back Door", a short article by George Sand covering the
          loss of several planes and ships, including the loss of Flight 19, a group of five US Navy Grumman TBM Avenger
          torpedo bombers on a training mission. Sand's article was the first to lay out the now-familiar triangular area
          where the losses took place, as well as the first to suggest a supernatural element to the Flight 19 incident.
          Flight 19 alone would be covered again in the April 1962 issue of American Legion magazine.
          In it, author Allan W. Eckert wrote that the flight leader had been heard saying, "We are entering white water,
          nothing seems right. We don't know where we are, the water is green, no white." He also wrote that officials at the Navy board of inquiry stated that the planes "flew off to Mars."
        </p>
        <p class="postDate">
          <b>... days ago</b>
        </p>
      </div>

      <div class="post">
        <h1 class="postHeadline">Create a Back-End App with Javascript</h1>
        <p class="postText">
          The earliest suggestion of unusual disappearances in the Bermuda area appeared in a September 17, 1950,
          article published in The Miami Herald (Associated Press) by Edward Van Winkle Jones. Two years later,
          Fate magazine published "Sea Mystery at Our Back Door", a short article by George Sand covering the
          loss of several planes and ships, including the loss of Flight 19, a group of five US Navy Grumman TBM Avenger
          torpedo bombers on a training mission. Sand's article was the first to lay out the now-familiar triangular area
          where the losses took place, as well as the first to suggest a supernatural element to the Flight 19 incident.
          Flight 19 alone would be covered again in the April 1962 issue of American Legion magazine.
          In it, author Allan W. Eckert wrote that the flight leader had been heard saying, "We are entering white water,
          nothing seems right. We don't know where we are, the water is green, no white." He also wrote that officials at the Navy board of inquiry stated that the planes "flew off to Mars."
        </p>
        <p class="postDate">
          <b>... days ago</b>
        </p>
      </div>

      <div class="post">
        <h1 class="postHeadline">Create a Back-End App with Javascript</h1>
        <p class="postText">
          The earliest suggestion of unusual disappearances in the Bermuda area appeared in a September 17, 1950,
          article published in The Miami Herald (Associated Press) by Edward Van Winkle Jones. Two years later,
          Fate magazine published "Sea Mystery at Our Back Door", a short article by George Sand covering the
          loss of several planes and ships, including the loss of Flight 19, a group of five US Navy Grumman TBM Avenger
          torpedo bombers on a training mission. Sand's article was the first to lay out the now-familiar triangular area
          where the losses took place, as well as the first to suggest a supernatural element to the Flight 19 incident.
          Flight 19 alone would be covered again in the April 1962 issue of American Legion magazine.
          In it, author Allan W. Eckert wrote that the flight leader had been heard saying, "We are entering white water,
          nothing seems right. We don't know where we are, the water is green, no white." He also wrote that officials at the Navy board of inquiry stated that the planes "flew off to Mars."
        </p>
        <p class="postDate">
          <b>... days ago</b>
        </p>
      </div>
    </div>

  </div>


  <!--    How it works-->
  <div class="howItWorks">
    <h1 class="howItWorksHeadLine">How it works??</h1>
    <h3 class="howItWorksText">1) CHOOSE A MEMBERSHIP  2) SIGN UP 3) ADD A PAYMENT METHOD 4) GET BENEFITS</h3>
  </div>

<!--  Mentor page footer-->
  <div class="footer">
    <p>Created by those, who don't want to get sunbaths on summer 2021</p>
  </div>

</div>
