<!doctype html>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <!--  Mentor page header-->
  <div class="header">
    <a href="#default" class="logo">Mentreon</a>
    <div class="header-right">
      <form class="searchBox" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>

  <!--  Middle section -->
  <div class="middleSection" id="main-container">

    <!--    Mentor info section-->
    <div class="mentorInfoSection">

      <img id="avatarImage"  src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="mentorAvatar">

      <!--      Mentors info-->
      <div class="mentorInfo">
        <h2>
          MENTOR NAME
        </h2>

        <h4>
          University: <span class='notbold'>MENTOR UNIVERSITY</span>
        </h4>

        <h4>
          Subject('s): <span class='notbold'>MENTOR SUBJECT</span>
        </h4>

        <p>
          ABOUT\PERSONAL INFO
        </p>

      </div>

    </div>

    <!--    Mentor posts-->
    <div class="mentorPosts" id="posts-container">
      <h1 style="text-align:center">Posts</h1>
      <button (click)="onOpenModal(null, 'add')" class="btn btn-outline-dark" type="submit">
        Make a post
      </button>

      <div *ngFor="let blogPost of blogPosts.reverse()">
        <div class="post">
          <h1 class="postHeadline">{{blogPost.postTitle}}</h1>
          <p class="postText">
            {{blogPost.postText}}
          </p>
          <p class="postDate">
            <b>... days ago</b>
          </p>
          <button (click)="onOpenModal(blogPost, 'delete')" class="btn btn-outline-dark" type="submit">
            Delete the post
          </button>
          <button (click)="onOpenModal(blogPost, 'edit')" class="btn btn-outline-dark" type="submit">
            Edit the post
          </button>
        </div>
      </div>

      <!-- Notification for no posts -->
      <div *ngIf="blogPosts?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">No Posts were found :(</h4>
          <p>Click the button "Make a post" above.</p>
        </div>
      </div>

    </div>

  </div>


  <!--    How it works-->
  <div class="howItWorks">
    <h1 class="howItWorksHeadLine">How it works??</h1>
    <h3 class="howItWorksText">1) CHOOSE A MEMBERSHIP  2) SIGN UP 3) ADD A PAYMENT METHOD 4) GET BENEFITS</h3>
  </div>

  <!--  Mentor page footer-->
  <div class="footer">
    <p>Created by those, who don't want to get sunbaths on summer 2021</p>
  </div>

</div>

<!-- Modal Post Creation  -->
<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddPost(addForm)">
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input type="text" ngModel name="postTitle" class="form-control" id="name" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="postText">Post Text</label>
            <textarea type="text" ngModel name="postText" class="form-control" id="email" placeholder="Text" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-post-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >POST</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Post Edit  -->
<div class="modal fade" id="updatePostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm='ngForm'>
          <input type="hidden" ngModel="{{editBlogPost?.id}}" name="id" class="form-control" id="id">
          <input type="hidden" ngModel="{{editBlogPost?.postCode}}" name="userCode" class="form-control" id="userCode" >
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input type="text" ngModel="{{editBlogPost?.postTitle}}" ngModel name="postTitle" class="form-control" id="name" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="postText">Post Text</label>
            <textarea type="text" ngModel="{{editBlogPost?.postText}}" ngModel name="postText" class="form-control" id="email" placeholder="Text" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-post-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="editForm.invalid" (click)="onUpdatePost(editForm.value)" type="submit" class="btn btn-primary" >EDIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Post Delete -->
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete post with Title: {{deleteBlogPost?.postTitle}}?
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-post-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onDeletePost(deleteBlogPost?.id)" type="button" class="btn btn-primary">Delete the post</button>
      </div>
    </div>
  </div>
</div>







